.category {
  width: calc(25% - 6px);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: #93c7c3 1px solid;
  color: #93c7c3;
  font-size: 10px;
  letter-spacing: 0.06em;
  position: relative;
  transition: 0.2s;

  &.selected {
    background-color: #93c7c3;
    color: #fff;
  }

  .image {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    content: "";
    display: inline-block;
    background-size: contain;
    vertical-align: middle;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: calc(33% - 2px);
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: calc(33% - 2.25px);
    font-size: 8px;

    .image {
      left: 4px;
    }
  }
}
