.section {
  padding: 0 24px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.body {
  margin-top: 80px;
}

.nothing {
  text-align: center;
  font-size: 16px;
  color: #707070;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0 15px;
  }

  .body {
    margin-top: 51px;
  }

  .nothing {
    font-size: 14px;
  }
}
