.input,
.date,
.select {
  -webkit-appearance: none;
  color: #707070;

  &::placeholder {
    color: #c6c6c6;
  }
}

.section {
  background: #f0f0f0;
  padding: 0;
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease 0s, height 0.3s ease 0s;

  &.on {
    padding: 64px 0;
    margin-top: 32px;
    opacity: 1;
    pointer-events: unset;
    height: auto;
  }
}

.container {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  color: #222;
  line-height: 1.7;
  letter-spacing: 0;
}

.head {
}

.document {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.p {
  text-align: center;
}

.figure {
  width: 175px;

  img {
    width: 100%;
    height: auto;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

.figcaption {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.option {
}

.radio {
  padding-left: 24px;
  margin-bottom: 20px;
  display: flex;
}

.radioLabel {
  font-weight: 400;
  margin-bottom: 0;
}

.radioInput {
  margin-right: 5px;
  display: none;

  &:checked + .radioText {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 11px;
      height: 11px;
      background: #707070;
      border-radius: 50%;
    }
  }
}

.radioText {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
  font-size: 15px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 50%;
  }
}

.radionote {
  font-size: 13px;
  color: #8c8c8c;
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 24px;
}

.description {
  text-align: center;
  margin: 40px 0;
}

.color {
  color: #cb4a5e;
}

.sumbitError {
  display: block;
  color: #e60012;
  text-align: center;
  margin-bottom: 20px;
}

.on {
}

.sp {
  display: none;
}

/* ---------
Detail Form Start
--------- */

.detailForm {
  .inputBody {
    margin-bottom: 40px;
  }

  .inputBlock {
    padding-left: 0;

    &.triangle {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-top: 7px solid #8e928e;
        z-index: 1;
        pointer-events: none;
      }
    }
  }

  .input {
    min-height: 60px;
    font-size: 14px;

    &:disabled {
      background-color: #e0e0e0;
      border-color: #707070;
      color: #707070;
    }

    &.inputInquiry {
      height: unset;
    }
  }

  .label {
    &.require {
      &.disabled {
        &:after {
          color: #222222;
        }
      }
    }
  }

  .inputBlockGrid {
    gap: 0 40px;
    .inputBody {
    }
  }

  .submit {
    width: 348px;
    height: 67px;
    background: #a6a08a;
    border: 1px solid #a6a08a;
    font-size: 18px;
  }

  .notes {
    margin-top: 40px;

    p {
      text-indent: -1em;
      padding-left: 1em;
      font-size: 14px;
      letter-spacing: 0.06em;
      line-height: 2;
      color: #707070;
    }
  }

  .buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .action {
    width: calc(50% - 3.8%);
    height: 67px;
    border: 1px solid #a6a08a;
    font-size: 18px;
    color: #a6a08a;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: 0.2s;
    position: relative;

    &:hover {
      background: #a6a08a;
      color: #fff;
    }

    &.toFair {
      &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 17px;
        background-image: url("/images/icon_back.svg");
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        &:before {
          background-image: url("/images/icon_back-hover.svg");
        }
      }
    }

    &.toTop {
      &:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-image: url("/images/icon_top.svg");
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        &:before {
          background-image: url("/images/icon_top-hover.svg");
        }
      }
    }
  }
}

/* ---------
Detail Form End
--------- */

.inputs {
}

.inputFlex {
  display: flex;
  gap: 30px;

  .inputBody {
    width: 50%;
  }
}

.inputBody {
  margin-bottom: 32px;

  &.finputBodyInquiry {
  }
}

.radioBlock {
  display: flex;
  padding: 30px 15px 0;
  gap: 60px;
}

.radioLabel {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 8px;
}

.radioInput {
  position: relative;

  &[type="radio"] {
    display: none;

    &:checked + .labelText {
      &:after {
        opacity: 1;
      }
    }
  }
}

.labelText {
  font-size: 14px;
  // padding-left: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid #999;
    border-radius: 50%;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 4.5px;
    left: 4.5px;
    width: 16px;
    height: 16px;
    background: #707070;
    border-radius: 50%;
    opacity: 0;
  }
}

.inputBlockGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "date time" "note note";

  .inputBlockWrap {
    width: 100%;
  }

  .inputBlock {
    width: 100%;
  }

  .select {
    width: 100%;
  }

  &.confirm {
    gap: 0 4%;

    .phonenote {
      padding-left: 0;
    }
  }
}

.inputDate {
  grid-area: date;
  margin-bottom: 0;
}

.inputTime {
  grid-area: time;
  margin-bottom: 0;
}

.phonenote {
  grid-area: note;
}

.inputBlockFlex {
  display: flex;
}

.phonenote {
  padding-left: 24px;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 32px;
}

.phonea {
  color: #444;
  display: inline-block;
  text-decoration: underline;
}

.inputBlockWrap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #1f261f;
  font-size: 15px;

  &.require {
    &:after {
      content: "※";
      color: rgb(203, 74, 94);
      padding-left: 10px;
    }
  }
}

.inputBlock {
  padding-left: 24px;
  width: 100%;

  &.confirm {
    padding: 0;

    .input {
      border: none;
      padding: 12px;
      border-radius: 4px;
      min-height: 47px;
      font-size: 15px;
    }
  }
}

.input {
  min-width: 100%;
  max-width: 100%;
  height: 44px;
  background-color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: 0.1em;
  vertical-align: middle;
  font-family: "EB Garamond", 游明朝体, "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", "Noto Serif JP", serif;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 8px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(112, 112, 112);
  border-image: initial;

  &.half {
    width: 50%;
  }

  &.date {
    position: relative;
    -webkit-appearance: none;

    &[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  &.time {
    position: relative;

    &[type="time"]::-webkit-calendar-picker-indicator {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

.error {
  font-size: 93%;
  color: #b70000;
  display: block;
  margin-top: 4px;
}

.inputInquiry {
  min-height: 150px;
}

.policy {
  font-size: 13px;
  text-align: center;
}

.link {
  display: inline-block;
  color: #222;
  text-decoration: underline;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0;
}

.submit {
  appearance: none;
  text-align: center;
  font-family: "EB Garamond", 游明朝体, "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", "Noto Serif JP", serif;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 480px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  background: rgb(68, 68, 68);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  border-image: initial;
  margin: 10px;
  transition: all 0.3s ease 0s;

  &:hover {
    background: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
  }

  &.back {
    background: #666;
    border: 1px solid #666;
    color: #fff;

    &:hover {
      background: #333;
      color: #fff;
      border-color: #333;
      border: 1px solid #333;
    }
  }
}

.note {
  display: flex;
  padding: 16px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 50px;
  font-size: 13px;
}

.mark {
  width: 40px;
  margin-right: 16px;
  display: flex;

  img {
    width: 100%;
    height: auto;
  }
}

.ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  flex: 1;
}

.li {
  position: relative;
  padding-left: 15px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &::before {
    content: "※";
    position: absolute;
    left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .inputBlock {
    padding-left: 0;
  }

  .policy {
    text-align: left;
  }

  .note {
    flex-direction: column;
    padding: 16px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 50px;
    font-size: 12px;
  }

  .mark {
    margin: 0 auto 10px;
  }

  .li {
  }

  .radio {
    padding-left: 0;
  }

  .radioLabel {
    display: block;
  }

  .radionote {
    padding-left: 0;
  }

  .inputFlex {
    display: flex;
    gap: 30px;

    .inputBody {
      width: 50%;
    }
  }

  .inputBody {
    margin-bottom: 32px;

    &.finputBodyInquiry {
    }
  }

  .inputBlockGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "date" "time" "note";

    .inputBlockWrap {
      width: 100%;
    }

    .inputBlock {
      width: 100%;
    }

    .select {
      width: 100%;
    }
  }

  .inputDate {
    max-width: 79.81%;
  }

  .inputTime {
    max-width: 79.81%;
  }

  .phonenote {
    grid-area: note;
  }

  .inputBlockFlex {
    gap: 8px;
  }

  .phonenote {
    padding-left: 0;
    margin-bottom: 32px;
  }

  /* ---------
Radio Block Start
--------- */

  .radioBlock {
    flex-direction: column;
    padding: 8px 0 0;
    gap: 20px;
  }

  // .radioLabel {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 0;
  //   gap: 8px;
  // }

  // .radioInput {
  //   position: relative;

  //   &[type="radio"] {
  //     display: none;

  //     &:checked + .labelText {
  //       &:after {
  //         opacity: 1;
  //       }
  //     }
  //   }
  // }

  // .labelText {
  //   font-size: 14px;
  //   // padding-left: 32px;
  //   display: flex;
  //   align-items: center;
  //   gap: 8px;
  //   position: relative;

  //   &::before {
  //     content: "";
  //     display: block;
  //     width: 23px;
  //     height: 23px;
  //     border: 1px solid #999;
  //     border-radius: 50%;
  //   }

  //   &:after {
  //     content: "";
  //     display: block;
  //     position: absolute;
  //     top: 4.5px;
  //     left: 4.5px;
  //     width: 16px;
  //     height: 16px;
  //     background: #707070;
  //     border-radius: 50%;
  //     opacity: 0;
  //   }
  // }

  /* ---------
Radio Block End
--------- */
  /* ---------
Detail Form Start
--------- */

  .detailForm {
    .inputBody {
      margin-bottom: 32px;
      max-width: unset;
    }

    .inputBlock {
      &.triangle {
        &:before {
          right: 15px;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          border-top: 5px solid #8e928e;
        }
      }
    }

    .input {
      height: 40px;
    }

    .label {
      font-size: 14px;
    }

    .submit {
      width: 348px;
      height: 67px;
      background: #a6a08a;
      border: 1px solid #a6a08a;
      font-size: 18px;
      margin: 0;
    }

    .notes {
      margin-top: 44.5px;

      p {
        font-size: 12px;
      }
    }

    .buttons {
      flex-direction: column;
      gap: 20px;
    }

    .action {
      width: 100%;
      height: 60px;
    }
  }

  /* ---------
Detail Form End
--------- */
}
