.fixed {
  position: fixed;

  right: 0;
  bottom: 0;
  width: 64px;
  display: grid;
  grid-template-areas: "line" "reservation" "document";
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  background: #fff;
  z-index: 11;

  display: none;
}

.block {
  font-size: 18px;
  color: #fff;
  writing-mode: vertical-rl;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.label {
  letter-spacing: 0.6em;
}

.line {
  grid-area: line;
  background: #e0e0e0;
  padding: 16px;
  gap: 0;

  .label {
    display: none;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 32px;
    background-image: url("/images/icon_fixed_line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.reservation {
  grid-area: reservation;
  background: #7694be;
  padding: 21px 0 32px;

  &:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 19px;
    background-image: url("/images/icon_fixed_reservation.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.document {
  padding: 21px 0 32px;
  grid-area: document;
  background: #93c7c3;

  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 19px;
    background-image: url("/images/icon_fixed_document.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.phone {
  grid-area: phone;
  display: none;

  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("/images/icon_fixed_phone-sp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.fair {
  grid-area: fair;
  display: none;
  background-color: #93c7c3;

  .label {
    color: #fff;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 12px;
    background-image: url("/images/icon_fixed_fair-sp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .fixed {
    left: 0;
    right: revert;
    top: revert;
    bottom: 0;
    width: 100%;
    transform: unset;
    // grid-template-areas: "reservation phone fair"; 初期公開時だけ
    grid-template-areas: "phone fair";
    grid-template-rows: 60px;
    // grid-template-columns: 1fr 1fr 1.75fr;
    grid-template-columns: 1fr 1fr;

    display: grid;
  }

  .block {
    font-size: 12px;
    writing-mode: unset;
    flex-direction: column;
    gap: 8px;
    color: #707070;
  }

  .label {
    letter-spacing: 0.06em;
  }

  .line {
    background: #fff;
    padding: 10px;
    gap: 8px;

    .label {
      display: block;
    }

    &:before {
      width: 18px;
      height: 18px;
      background-image: url("/images/icon_fixed_line-sp.svg");
    }
  }

  .reservation {
    background: #fff;
    padding: 10px;

    // 初期公開時だけ↓
    display: none;

    &:before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 19px;
      background-image: url("/images/icon_fixed_reservation-sp.svg");
    }
  }

  .document {
    display: none;
  }

  .phone {
    display: flex;
  }

  .fair {
    display: flex;
  }
}
