.section {
  padding: 64px 24px 0;
  color: #707070;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 18px;
  color: #000000;
  margin-bottom: 40px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 80px 15px 0;
  }
}
