.section {
  padding: 0 24px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.head {
  font-size: 20px;
  letter-spacing: 0.08em;
  line-height: 1.6;
  color: #707070;
  background-color: #fff;
  padding: 0 24px;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  text-align: center;
}

.inner {
  border: 1px solid #93c7c3;
  border-radius: 10px;
  padding: 95px 40px 80px;
}

.block {
  display: flex;
  gap: 44px;
  align-items: center;

  &:first-child {
    padding-bottom: 42px;
    margin-bottom: 40px;
    border-bottom: #93c7c3 1px solid;

    .label {
      margin-top: -81px;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #707070;
  white-space: nowrap;
  min-width: 8em;
}

.selectArea {
  width: 100%;
}

.submit {
  margin-top: 24px;
  width: 100%;
  height: 57px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7694be;
  border: 1px solid #7694be;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #fff;
    color: #7694be;
  }
}

.inputWrap {
  position: relative;
  border-radius: 10px;
  border: 1px solid #93c7c3;
  width: 100%;
  overflow: hidden;
}

.input {
  border: none;
  width: 100%;
  height: 57px;
  padding-left: 12px;
  color: #707070;

  &::placeholder {
    color: #93c7c3;
  }

  &[type="date"] {
    -webkit-appearance: none;
    background: transparent;
    color: #707070;
    padding-right: 40px;
    position: relative;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &::-webkit-clear-button {
      -webkit-appearance: none;
    }

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &::-webkit-date-and-time-value {
      text-align: left;
    }
  }
}

.inputImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 57px;
  height: 57px;
  background-color: #93c7c3;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  img {
    width: 22px;
    height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0 15px;
  }

  .head {
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 2;
    padding: 0 20px;
    top: -30px;
    white-space: nowrap;
  }
  .inner {
    padding: 65px 32px 50px;
    border-radius: 8px;
  }

  .block {
    flex-direction: column;
    gap: 40px;

    &:first-child {
      padding-bottom: 0;
      margin-bottom: 40px;
      border-bottom: none;

      .label {
        margin-top: 0;
      }
    }
  }

  .label {
    position: relative;
    width: 100%;
    font-size: 12px;
    color: #93c7c3;

    span {
      padding: 0 18px;
      background-color: #fff;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
      width: calc(100%);
      height: 1px;
      background-color: #93c7c3;
      z-index: -1;
    }
  }

  .submit {
    margin-top: 20px;
    height: 36px;
    border-radius: 4px;
    font-size: 12px;
  }

  .inputWrap {
    border-radius: 4px;
  }

  .input {
    height: 36px;
    padding-left: 8px;
    font-size: 12px;
  }

  .inputImage {
    width: 36px;
    height: 36px;

    img {
      width: 14px;
      height: 13px;
    }
  }
}
