.section {
  background-color: #fff;
  padding: 0 24px 40px;
}

.options {
  display: flex;
  margin-top: 60px;
  max-width: 1280px;
  margin: 0 auto;
}

.option {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11.5px;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  font-size: 16px;
  position: relative;
  color: #e0e0e0;
  transition: 0.2s;
  cursor: pointer;

  &.active {
    color: #93c7c3;

    &:before {
      opacity: 1;
    }
  }

  &:hover {
    color: #93c7c3;

    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75%;
    height: 1px;
    background-color: #93c7c3;
    transform: translateX(-50%);
    transition: 0.2s;
    opacity: 0;
  }
}

.container {
  max-width: 1280px;
  margin: 40px auto 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.weekends {
  width: 42.18%;
}

.weekendsHead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  color: #707070;
  text-align: center;
}

.en {
  margin-bottom: 16px;
  font-family: "EB Garamond", serif;
  font-size: 28px;
  color: #000;
}

.ja {
  font-size: 13px;
  color: #8c8c8c;
}

.calendar {
  width: 45.93%;
  margin-right: 4%;
  border: 1px solid #93c7c3;
}

.swiper {
  // padding-left: 16px !important;
}

.block {
  // min-width: 281px;
  max-width: 406px;

  &:hover {
    .image {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    }
  }
}

.image {
  position: relative;
  margin-bottom: 21px;
  transition: 0.2s;
  line-height: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 98px;
  height: 98px;
}

.yyyy_mm {
  font-size: 10px;
  color: #afafaf;
  margin-bottom: 6px;
  letter-spacing: 0;
  line-height: 1;
}

.dd {
  font-size: 27px;
  color: #222222;
  letter-spacing: 0;
  margin-bottom: 9px;
  line-height: 1;
}

.weekdays {
  font-size: 14px;
  color: #afafaf;
  letter-spacing: 0;
  line-height: 1;
}

.contents {
}

.when {
  font-size: 15px;
  color: #93c7c3;
  letter-spacing: 0.04em;
  margin-bottom: 7px;
}

.description {
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #707070;
  line-height: 2;
}

.link {
  display: flex;
  justify-content: center;
}

//

//

.selects {
  display: flex;
  margin-bottom: 32px;
}

.select {
  width: 50%;
  font-size: 16px;
  color: #cb5353;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0 15px;
  cursor: pointer;
  transition: 0.2s;
  background-color: #e0e0e0;

  &:nth-of-type(odd) {
    color: #6483d9;
  }

  &:hover {
    background: #93c7c3;
    color: #fff;
    border: 1px solid #93c7c3;
  }

  &.selected {
    background: #93c7c3;
    color: #fff;
    border: 1px solid #93c7c3;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid #93c7c3;
    }
  }
}

.contents {
}

.content {
  // width: calc(33% - 12.5px);
}

.nothing {
  text-align: center;
  font-size: 16px;
  color: #707070;
  margin-top: 40px;
  width: 100%;
}

.image {
  margin-bottom: 16px;
  background-color: #f4f4f4;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.date {
  font-size: 11px;
  color: #93c7c3;
  letter-spacing: 0.04em;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0;
  }

  .main {
    &.week {
      flex-direction: column;
      padding: 0 15px;
    }
  }

  .weekends {
    width: 100%;
    display: none;
  }

  .calendar {
    width: 100%;
    margin-top: 20px;
  }

  .link {
    padding: 0;
    max-width: 281px;
    margin: 0 auto;
  }

  .block {
    width: 100%;
    // min-width: 281px;
  }

  .swiper {
    padding-left: 0 !important;
  }

  .image {
    margin-bottom: 16px;
  }

  .tag {
    width: 67px;
    height: 67px;
  }

  .yyyy_mm {
    font-size: 10px;
    margin-bottom: 6px;
  }

  .dd {
    font-size: 19px;
    margin-bottom: 3px;
  }

  .weekdays {
    font-size: 10px;
  }

  .contents {
  }

  .when {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 14px;
  }

  .selects {
    padding: 0 15px;
  }

  .select {
    font-size: 10px;
    padding: 7px 0;

    &.selected {
      &::after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #93c7c3;
      }
    }
  }

  .contents {
  }

  .content {
  }

  .nothing {
    font-size: 14px;
    padding-bottom: 40px;
  }

  .image {
  }

  .date {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 14px;
    letter-spacing: 0.06em;
  }
}
