.weekday,
.saturday,
.sunday {
  display: inline-block;

  &.past {
    color: #cacaca;
  }
}

.fc .fc-daygrid-day-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
  color: #222;
  font-size: 14px;
}

.fc-daygrid-day {
  height: 22px; /* セルの高さを設定 */
  // width: 50px; /* セルの幅を設定 */
}

.fc .fc-daygrid-day-events {
  // display: none;

  .fc-h-event {
    border: none;
    width: 24px;
    height: 24px;
    background: #e0e0e0;
    border-radius: 99px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.fc-daygrid {
  tr {
    height: 22px;
  }
}

.fc .fc-toolbar {
  align-items: flex-start;
}

.fc .fc-toolbar-title {
  font-size: 16px;
  font-weight: normal;
  color: #222;
  margin-top: 20px;
  margin-bottom: 10px;
}

.fc-col-header-cell-cushion {
  font-size: 12px;
  font-weight: normal;
  color: #222;
  text-transform: uppercase;
}

.fc .fc-button-primary {
  background: none;
  border: none;
  color: #a6a08a;
  font-size: 11px;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  &:hover {
    background: #a6a08a;
    border: none;
    color: #fff;
  }

  &:not(:disabled) {
    &:active {
      background: #a6a08a;
      border: none;
      color: #fff;
    }
  }
}

.fc-daygrid-day-frame {
  height: 100%; /* セル内部のフレームの高さを100%に設定 */
}

.sunday {
  color: #cb5353;
}

.fc-day-sun {
  .fc-col-header-cell-cushion {
    color: #cb5353;
  }
}

.saturday {
  color: #6483d9;
}

.fc-day-sat {
  .fc-col-header-cell-cushion {
    color: #6483d9;
  }
}

a {
  &[aria-label="Sunday"] {
    color: #cb5353;
  }
  &[aria-label="Saturday"] {
    color: #6483d9;
  }
}

.fc-theme-standard {
  td,
  th {
    border: none;
  }

  .fc-scrollgrid {
    border: none;
  }
}

.fc .fc-day-today.fc-daygrid-day {
  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 99px;
    content: "";
    z-index: -1;
    border: 1px solid #cb5353;
  }
}

/* swiper */

.swiper-button-next,
.swiper-button-prev {
  width: 31px;
  height: 31px;
  background: #f7f7f5;
  position: relative;
  border-radius: 99px;
  transition: opacity 0.2s;
  cursor: pointer;

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0;
  }
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;

  &:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 10px;
    border-top: 3px solid #edece6;
    border-right: 3px solid #edece6;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;

  &:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 10px;
    border-top: 3px solid #edece6;
    border-left: 3px solid #edece6;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

// Process

.swiper-process-button-next,
.swiper-process-button-prev {
  width: 31px;
  height: 31px;
  // background: #f7f7f5;
  position: relative;
  border-radius: 99px;
  transition: opacity 0.2s;
  cursor: pointer;

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0;
  }
}

.swiper-process-button-next {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  z-index: 1;

  &:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 10px;
    border-top: 3px solid #a6a08a;
    border-right: 3px solid #a6a08a;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.swiper-process-button-prev {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  z-index: 1;

  &:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 10px;
    border-top: 3px solid #a6a08a;
    border-left: 3px solid #a6a08a;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .fc .fc-toolbar-title {
    margin-top: 3px;
    margin-bottom: 0;
    color: #707070;
    letter-spacing: 0.04em;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 20px;
  }

  .fc .fc-button-primary {
    font-size: 10px;
    letter-spacing: 0.04em;
    padding: 0;
    color: #707070;
  }

  .fc .fc-col-header-cell-cushion {
    padding: 0;
    font-size: 10px;
  }

  .fc .fc-daygrid tr {
    height: 22px;
  }

  .fc .fc-daygrid-day-events {
    // display: none;

    .fc-h-event {
      border: none;
      width: 18px;
      height: 18px;
    }
  }

  .fc .fc-view-harness {
    height: 38px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }

  .fc .fc-next-button {
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;

    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border-top: 2px solid #a6a08a;
      border-right: 2px solid #a6a08a;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%) rotate(45deg);
      z-index: 1;
    }

    .fc-icon {
      display: none;
    }
  }

  .fc .fc-prev-button {
    position: absolute;
    top: 70%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;

    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border-top: 2px solid #a6a08a;
      border-right: 2px solid #a6a08a;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%) rotate(-135deg);
      z-index: 1;
    }

    .fc-icon {
      display: none;
    }
  }

  .fc .fc-button-primary:not(:disabled):active,
  .fc .fc-button-primary:hover {
    background: none;
    border: none;
    color: #a6a08a;
  }
}
