* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  visibility: hidden;
}

html.wf-active,
html.loading-delay {
  visibility: visible;
}

body {
  font-family: "yu-mincho-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e0e0e0;
  letter-spacing: 0.06em;
  line-height: 1;
}

a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}

li {
  list-style: none;

  &::marker {
    display: none;
  }
}

picture,
source {
  line-height: 0;
}

button {
  font-family: "yu-mincho-pr6n", sans-serif;
}
