.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 20px;
}

.category {
  width: calc(33% - 12px);
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: #93c7c3 1px solid;
  color: #93c7c3;
  font-size: 16px;
  letter-spacing: 0.06em;
  position: relative;
  transition: 0.2s;
  cursor: pointer;

  &.selected {
    background-color: #93c7c3;
    color: #fff;
  }

  .image {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    vertical-align: middle;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.categoryIcon {
  img {
    width: 100%;
    height: auto;
  }
}

.label {
}

@media screen and (max-width: 1024px) {
  .categories {
    gap: 12px 12px;
  }

  .category {
    width: calc(33% - 8px);
    height: 40px;
    font-size: 14px;

    .image {
      width: 16px;
      height: 16px;
    }
  }
}

@media screen and (max-width: 900px) {
  .categories {
    gap: 8px 5px;
  }

  .category {
    width: calc(50% - 2.5px);
    height: 36px;
    font-size: 10px;
    border-radius: 4px;

    .image {
      width: 12px;
      height: 12px;
      left: 8px;
    }

    &:first-child {
      width: 100%;
    }
  }
}
