.container {
  max-width: 710px;
  width: 100%;
  margin: 108px auto 0;
}

.note {
  height: 96px;
  border: 1px solid #93c7c3;
  background-color: #f1ebd8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 1.73;
  color: #707070;
  margin-bottom: 48px;
}

.link {
  margin: 0 auto;
  max-width: 490px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93c7c3;
  font-size: 16px;
  color: #fff;
  transition: 0.2s;
  border: #93c7c3 solid 1px;

  &:hover {
    background-color: #fff;
    color: #93c7c3;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 52px auto 0;
  }

  .note {
    text-align: center;
  }

  .link {
  }
}
